<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <receiver android:name=".QuotaWidgetProvider" android:exported="false" android:label="@string/cindy_widget_title">
      <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter>
      <meta-data android:name="android.appwidget.provider" android:resource="@xml/cindy_quota_widget" />
    </receiver>
  </application>
</manifest>
